@import "./reset";
@import "app/styles/variables/global";
@import "app/styles/themes/normal";
@import "app/styles/themes/dark";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    transition: var(--transition-time-switcher) background ease;
    min-height: 100vh;
}
