.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 59px;
    color: #2B303A;
}


.body {
    display: block;
}

.register {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    color: #000000;
    cursor: pointer;
    transition: 0.3s all ease;
}

.register:hover {
    color: #D64933;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 5px;
    background: #4c9bd3;
    color: #ffffff;
    transition: 0.3s all ease;
}
.button:hover {
    opacity: 0.8;
}

