.title {
    margin-bottom: 20px;
}


.button {
    background: #6633CC;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s all ease;
}

.button:hover {
    background: #353535;
}