.list {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background: #e1e1e1;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin-bottom: 40px;
  padding: 20px 40px;
  border-radius: 10px;
  background: #4c9bd3;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.link:hover {
  background: #3e0bcf;
}
