.app.dark {
  --bg-color: #15224F;
  --inverted-bg-color: #ececec;

  --primary-color: white;
  --secondary-color: #00C500;
  --inverted-primary-color: #4C9BD3;
  --inverted-secondary-color: #D64933;

  /*navbar variables*/
  --navbar-bg: #15224F;
  --navbar-icons: #9870E8;
  --navbar-switcher: #9870E8;

}