.dark {
    --bg-color: #15224f;
    --inverted-bg-color: #ececec;
    --primary-color: white;
    --secondary-color: #00c500;
    --inverted-primary-color: #4c9bd3;
    --inverted-secondary-color: #d64933;

    /* input variables */
    --input-color: #15224f;
    --input-bg-color: white;

    /* navbar variables */
    --navbar-bg: #15224f;
    --navbar-icons: #9870e8;
    --navbar-switcher: #9870e8;
}
