.light {
    --bg-color: #fff;
    --inverted-bg-color: #000633;
    --primary-color: #000;
    --secondary-color: #d64933;
    --inverted-primary-color: white;
    --inverted-secondary-color: #00c500;

    /* input variables */
    --input-color: var(--primary-color);
    --input-bg-color: #fff;

    /* navbar variables */
    --navbar-bg: #fff;
    --navbar-icons: #362db0;
    --navbar-switcher: #ffd400;
}
