.app.light {
  --bg-color: #726161;
  --inverted-bg-color: white;

  --primary-color: #7c74e7;
  --secondary-color: #000000;
  --inverted-primary-color: #049603;
  --inverted-secondary-color: #04ff40;
}