.MainPage {
    display: flex;
}

.ProductsPageListContainer {
    display: flex;
}

.ProductsPageCategories {
    flex-wrap: wrap;
    min-width: 260px;
    width: 260px;
    margin-right: 10px;
    border-radius: 10px;
    align-self: self-start;
}

@media screen and (max-width: 1024px) {
    .ProductsPageListContainer {
        flex-direction: column;
    }

    .ProductsPageCategories {
        margin-bottom: 20px;
        width: 100%;
    }
}
