.header {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.logo {
}

.cart {
  position: relative;
  margin-right: 20px;
}

.cart img {
  width: 40px;
  height: auto;
}

.num {
  color: #ffffff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 30px;
  top: -10px;
  padding: 2px;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #4c9bd3;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authorize {
  display: flex;
  align-items: center;
}

.register {
  font-size: 18px;
  line-height: 18px;
  color: #24292f;
  font-weight: bold;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #24292f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s all ease;
}

.register:hover {
  opacity: 0.7;
}

.sign {
  margin-right: 5px;
  font-size: 20px;
  line-height: 20px;
  color: #24292f;
  font-weight: bold;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s all ease;
}

.sign:hover {
  opacity: 0.7;
}
