.ProductListItem {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--card-sub-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    min-height: 400px;
    background: var(--card-bg-color);
}

.image_wrapper {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.image {
    width: auto;
    max-width: 90%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s transform ease;
    z-index: 1;
    border-radius: 20px;
}

.item:hover .image {
    transform: scale(1.2);
}

.category {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 4px;
    border-radius: 5px;
    background: var(--card-color);
    font-weight: bold;
    z-index: 2;
}

.category p {
    color: var(--card-bg-color);
}

.title {
    color: var(--card-color);
    margin-bottom: 10px;
    font-size: 20px;
    max-width: 90%;
}

.title p {
    color: var(--card-color);
    font: var(--font-ml);
}

.info {
    padding: 0 10px;
}

.content {
    margin-bottom: 10px;
}

.additional {
    margin-left: 10px;
    margin-right: 10px;
}

.price p {
    color: var(--card-sub-color);
}

.additional .Button {
    width: 100%;
    transition: var(--transition-time-switcher) all ease;
    color: var(--card-color);
    border-color: var(--card-color);
}

.Button:hover {
    background: var(--card-color);
    color: var(--card-bg-color);
}
