.Navbar {
    width: 100%;
    height: var(--navbar-height);
    padding: 0 20px;
    display: flex;
    align-items: center;
    background: var(--navbar-bg);
    transition: var(--transition-time-switcher) background ease;
    margin-bottom: 40px;
}

.links {
    margin-left: auto;
}

.links a:first-child {
    margin-right: 15px;
}

.buttonModal {
    margin-right: 20px;
}
