.item {
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  min-height: 400px;
}

.image {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.image img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 300px;
  object-fit: contain;
  transition: 0.3s all ease;
  z-index: 1;
}

.item:hover .image img {
  transform: scale(1.2);
}

.category {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 4px;
  border-radius: 5px;
  background: #4c9bd3;
  color: #ffffff;
  font-weight: bold;
  z-index: 2;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
}

.info {
  padding: 0 10px;
}

.content {
  margin-bottom: 10px;
}

.additional {
  margin-left: 10px;
  margin-right: 10px;
}

.unActive {
  cursor: not-allowed;
}

.button {
  position: relative;
  width: auto;
  padding: 7px 15px;
  max-width: 100%;
  background: var(--main-color, #4c9bd3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #fcfcfc;
  cursor: pointer;
  transition: 0.3s all ease;
  align-self: flex-start;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:disabled:hover:after {
  content: 'Нужна авторизация.';
  position: absolute;
  background: white;
  box-shadow: 2px 2px 3px 0px black;
  right: -20px;
  top: -25px;
  padding: 5px;
  border-radius: 5px;
  color: black;
}
