.product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.product:last-child {
    border-bottom: 0px;
}

.img {
    width: 10%;
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img{
    width: 90%;
    height: auto;
}

.content {
    width: 60%;
    color: #24292f;
}

.description {
    margin-bottom: 20px;
}

.category {
    font-size: 20px;
    color: #4c9bd3;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rateContainer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #4c9bd3;
}

.interactions {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numberContainer {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.pluse, .minus, .number {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #4c9bd3;
    cursor: pointer;
    transition: 0.3s all ease;
}

.pluse, .number {
    border-right: 1px solid black;
}

.pluse, .minus {
    padding-bottom: 2px;
}


.pluse:hover, .minus:hover {
    background: #3E0BCF;
}

.delete {
    cursor: pointer;
    margin-right: 10px;
}

.delete svg path {
    transition: 0.3s all ease;
}

.delete:hover svg path{
    fill: #ff2727;
}

.compare {
    cursor: pointer;
}

.compare svg {
    width: 30px;
    height: 30px;
}

.compare svg path {
    transition: 0.3s all ease;
}

.compare:hover svg path {
    fill: #00c500;
}

.compare.active svg path {
    fill: #00c500;
}

